	</div>

	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info">
			<a href="{{ site-info-url }}">{{ site-info-text }}</a>
			<span class="sep"> | </span>
			{{ theme-credit }}
		</div>
	</footer>
</div>

{{& wp-footer }}

</body>
</html>